.imageLayout {
    border: 2px groove var(--text-color);
    float: right;
    margin-left: 0.5rem;
}

.divAlign {
    display: flex;
    flex-direction: column;
}

.pAlign {
    text-wrap: pretty;
    text-indent: 1.75rem;
}

.italic {
    font-style: italic;
}