/* globals.css */

:root {
  --background-color: #040d10;
  --background-image: linear-gradient(45deg, #040d10 0%, #0d5551 100%);
  --background: 
      var(--background-color)
      /*var(--background-image)*/;
  --font-size-base: 16px;
  --conent-padding: 1rem;
  --text-color: #e7bd70;
  --glow-color: #e7bd70;
}

/* linear-gradient(55deg, rgba(4,18,25,1) 5%, rgba(13,85,81,1) 95%); */

html,
body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--text-color);
  background: var(--background);
  background-size: 200% 200%;
  background-blend-mode: overlay;
  font-family: var(--font-gentium), Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main{
  width: 500px;
  min-height: 800px;
  padding: 1rem;
  border: 3px groove var(--glow-color);
  border-radius: 10px;
  background: var(--background-image);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
